<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="SaleProductsDbConnection"
			 connectionString="Data Source = (local)\sqlexpress; Initial Catalog = SaleProductsDb; Integrated Security = True; Encrypt = False"/>
	</connectionStrings>
</configuration>