<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add
			name ="MySqlConnection"
			connectionString="data source=(local)\sqlexpress;initial catalog = FruitsVegetables; integrated security = true"
			providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>